<!DOCTYPE html>
<html lang="en" ng-app="GroceryApp">
	<head>
		<meta charset="UTF-8">
		<title>Grocery</title>
		<!-- load libs -->
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
		<script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="/index.js"></script>

	</head>
            <body ng-controller="GroceryCtrl as groceryCtrl">
                    <div class="row">
                            <div class="col-md-offset-4 col-md-4">
                                    <form name="searchBrands" novalidate ng-submit="groceryCtrl.getSearchResults()">
                                            <div class="form-group">
                                                <label for="brand">Please key in your brand or name:</label>
                                                <div class="input-group">
                                                    <input id="term" class="form-control" type="text"name="term" ng-model="groceryCtrl.searchTerm" / >
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-success" type="submit">Search</button>
                                                    </span>
                                               
                                                </div>
                                                <button class = "btn btn-success" type="button" ng-click="addCtrl.add()">
                                                        Add another product
                                                    </button>
                                            </div>
                                        </form>
                            </div>
                        </div>
               
                        
                  <div class ="container">
                        <table class="table table-striped">
                            <tr>
                                <th>No</th>
                                <th>Barcode</th>
                                <th>Brand <span class="glyphicon glyphicon-triangle-bottom"></span>
                                </th>
                                <th>Product Name</th>
                                <th>Edit</th>
                            </tr>
                            <tr ng-repeat="g in groceryCtrl.groceries">
                                <td>{{ g.id }}</td>
                                <td><img src="http://www.barcodes4.me/barcode/c128a/{{g.upc12}}.png?IsTextDrawn=1" alt="" srcset="" width="100px">   </td>
                                <td>{{ g.brand }}</td>
                                <td>{{ g.name }}</td>
                                <td> <button>Edit Product</button></td>
                            </tr>
                        </table>
                        <div ui-view></div>	
                    </div>
                   
           
	</body>
</html>
