<div class = "row">
		<div class = "col-md-12">
			<h2>Purchase Order for {{searchCtrl.customer.NAME}}</h2>
		</div>
	</div>
	
	<div class = "row">
		<div class = "col-md-12">
			<table class ="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Brand</th>
						<th>UPC12</th>
					</tr>
				</thead>
	
				<tbody>
					<tr ng-repeat="po in searchCtrl.purchaseOrder">
						<td>{{ po.ORDER_NUM }}</td>
						<td>{{ po.FREIGHT_COMPANY }}</td>
						<td>{{ po.SHIPPING_DATE }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class ="row">
		<div class="col-md-offset-10 col-md-12">
			<button class = "btn btn-warning" type="button" ng-click="searchCtrl.back()">
				Back
			</button>
		</div>
	</div>